<div class='row field'>
  <div class='col-md-12'>
    <p id="notice"><%= notice %></tr>
    <h2>Task詳細画面</h2>

    <table>
      <tr><th>Subject:</th><td><%= @task.subject %></td></tr>
      <tr><th>Content:</th><td><%= @task.content %></td></tr>
      <tr><th>Expired:</th><td><%= @task.expired_at %></td></tr>
      <tr><th>State:</th><td><%= @task.state %></td></tr>
      <tr><th>Priority:</th><td><%= @task.priority %></td></tr>
      <tr>
        <th>Label:</th>
        <td>
          <% @task.labels.each do |label| %>
            <span class='badge badge-secondary'><%= label.name %></span>
          <% end %>
        </td>
      </tr>
    </table>

    <%= link_to '一覧', root_path, class: 'btn btn-success btn-sm ' %>
    <%= link_to '編集',edit_task_path(@task.id), class: 'btn btn-warning btn-sm' %>
  </div>
</div>