<div class='row field'>
  <div class='col-md-12'>
    <h2>Userアカウント作成画面</h2>
  </div>
</div>
<div class='row field'>
  <div class='col-md-12'>
    <% if @user.errors.any? %>
      <div class='alert alert alert-danger'>
        <h2>このユーザーを保存出来ません【<%= pluralize(@user.errors.count, "error") %>】</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<div class= 'row field'>
  <div class='col-md-12'>
    <%= form_with(model: @user, local: true) do |f| %>
      <table>
        <tr><th><%= f.label :name %></th><td><%= f.text_field :name %></td></tr>
        <tr><th><%= f.label :email %></th><td><%= f.email_field :email %></td></tr>
        <tr><th><%= f.label :password %></th><td><%= f.password_field :password %></td></tr>
        <tr><th><%= f.label :password_confirmation %></th><td><%= f.password_field :password_confirmation %></td></tr>
        <tr><th></th></tr>
        <tr><th><%= f.submit 'アカウント登録する', class: 'btn btn-primary btn-sm' %></th></tr>
      </table>
    <% end %>
  </div>
</div>